{% extends "client_base.html" %}
{% load static %}
(% load ifequal %}
{% block content %}
<!-- 表格式菜單管理介面 -->
<div class="container-fluid row">
    <div class="col-md-2">
        <div class="col-md-12 position-sticky shadow-lg p-3 mb-5 bg-body rounded" style="top: 250px;">
            <ul class="list-group">
                {% for list in count_list %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div class="d-flex align-items-center">
                        <input class="form-check-input me-2" type="checkbox"
                            id="category_number{{list.category_number}}" name="category_number{{list.category_number}}"
                            value="{{list.category_number}}">
                        {{list.category_name}}
                    </div>
                    <span class="badge bg-primary rounded-pill">{{list.total}}</span>
                </li>
                {% endfor %}
            </ul>
            <div class="d-flex align-items-center justify-content-center mt-3">
                <div class="row">
                    <a class="btn btn-dark col" href="/">
                        <img class="col" style="width: 48px;" src="/static/search_icon.png" title="搜尋">搜尋
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid mt-3 bg-light bg-opacity-50 shadow-lg p-3 mb-5 bg-body rounded col-md-10">
        <form>
            <div class="rounded shadow-lg p-3 mb-5 bg-body rounded table-responsive">
                <table class="table">
                    <thead class=" table-dark">
                        <tr>
                            <th class="col-md-1" scope="col">狀態</th>
                            <th class="col-md-1" scope="col">類別</th>
                            <th class="col-md-2" scope="col">照片</th>
                            <th class="col-md-2" scope="col">名稱</th>
                            <th class="col-md-2" scope="col">價錢</th>
                            <th class="col-md-2" scope="col">描述</th>
                            <th class="col-md-2" scope="col">操作</th>
                        </tr>
                    </thead>
                    {% for item in user_menu %}
                    <tbody>
                        <tr class="align-middle">
                            <td>
                                <div class="form-check justify-content-center d-flex">
                                    <input class="form-check-input" type="radio"
                                        name="meals_status_{{item.meals_number}}"
                                        id="meals_status_{{item.meals_number}}" value="1"
                                        {% if item.meals_status == "1" %} checked disabled {% endif %} disabled>
                                    <label class="form-check-label" for="meals_status_{{item.meals_number}}">上線</label>
                                </div>
                                <br>
                                <div class="form-check justify-content-center d-flex">
                                    <input class="form-check-input" type="radio"
                                        name="meals_status_{{item.meals_number}}"
                                        id="meals_status_{{item.meals_number}}" value="0"
                                        {% if item.meals_status == "0" %} checked disabled {% endif %} disabled>
                                    <label class="form-check-label" for="meals_status_{{item.meals_number}}">下線</label>
                                </div>
                            </td>
                            <td>
                                <!-- 隱藏值 -->
                                <input type="hidden" id="meals_status_{{item.meals_number}}"
                                    name="meals_status_{{item.meals_number}}" value="{{item.meals_number}}">
                                <input type="text" class="form-control" id="meals_status" name="meals_status"
                                    value='{{item.category_name}}' readonly>
                            </td>
                            <td>
                                <img src="{%static 'media/menu/'%}{{item.meals_owner}}/{{item.meals_image}}"
                                    class="img-thumbnail" name="meals_previews" style="height: 120px;width: 120px;">
                            </td>
                            <td>
                                <input type="text" class="form-control" id="meals_name" name="meals_name"
                                    value='{{item.meals_name}}' readonly>
                            </td>
                            <td>
                                <div class="input-group">
                                    <span class="input-group-text">$</span>
                                    <input type="text" class="form-control" id="meals_prices" name="meals_prices"
                                        value='{{item.meals_price}}' aria-label="Amount (to the nearest dollar)"
                                        readonly>
                                </div>
                            </td>
                            <td>
                                <textarea class="form-control" name="meals_meals_description"
                                    readonly>{{item.meals_description}}</textarea>
                            </td>
                            <td>
                                <div class="justify-content-center d-flex">
                                    <a href="#" class="btn btn-outline-secondary mt-3 modify-button"
                                        data-bs-toggle="modal" data-bs-target="#staticBackdrop2"
                                        data-meals-number="{{item.meals_number}}" data-meals-name="{{item.meals_name}}"
                                        data-meals-price="{{item.meals_price}}"
                                        data-meals-status="{{item.meals_status}}"
                                        data-meals-category="{{item.meals_category}}"
                                        data-meals-description="{{item.meals_description}}"
                                        data-meals-image="{%static 'media/menu/'%}{{item.meals_owner}}/{{item.meals_image}}">
                                        <img style="width:16px " src="{% static 'modify_icon.png' %}" title="修改">修改
                                    </a>
                                </div>
                                <br>
                                <div class="justify-content-center d-flex">
                                    <a href="/stud/?a=d&q={{item.meals_name}}">
                                        <button type="button" class="btn btn-outline-secondary mt-3">
                                            <img style="width:16px " src="{% static 'remove_icon.png' %}" title="刪除">刪除
                                    </a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                    {% endfor %}
                </table>
                <div class="row">
                    <div class="col justify-content-center d-flex align-items-center">
                        <button type="button" class="btn btn-outline-secondary mt-3 " data-bs-toggle="modal"
                            data-bs-target="#staticBackdrop">
                            <img style=" width: 24px; height: 24px;" src="{% static 'add.png' %}" title="新增">新增餐點
                        </button>
                    </div>
                    <div class="col justify-content-center d-flex align-items-center">
                        <button type="button" class="btn btn-outline-secondary mt-3 " data-bs-toggle="modal"
                            data-bs-target="#staticBackdrop3">
                            <img style=" width: 24px; height: 24px;" src="{% static 'add.png' %}" title="新增">新增餐點類別
                        </button>
                    </div>
                </div>
            </div>
            <div class="justify-content-end d-flex">
                <button type="submit" class="btn btn-outline-danger mt-3 ">
                    <img style=" width: 24px; height: 24px;" src="{% static 'update_icon.png' %}" title="更新">一鍵上線
                </button>
            </div>
            <div class="justify-content-end d-flex">
                <button type="submit" class="btn btn-outline-danger mt-3 ">
                    <img style=" width: 24px; height: 24px;" src="{% static 'update_icon.png' %}" title="更新">一鍵下線
                </button>
            </div>
        </form>
    </div>
</div>



<!-- additem.Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title " id="staticBackdropLabel">餐點新增</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" action="/clt/menu/add/" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="mt-2 justify-content-center align-items-center d-flex">
                        <figure class="figure">
                            <figcaption class="figure-caption justify-content-center d-flex">餐點圖像</figcaption>
                            <img id="previewImage" src="" class="figure-img img-fluid rounded"
                                style="height: 80;width: 80;">
                        </figure>
                    </div>
                    <div class="mt-3 d-flex align-items-center justify-content-center">
                        <div class="mb-3">
                            <label for="formFileMultiple" class="form-label justify-content-center d-flex">選擇圖片</label>
                            <input class="form-control" type="file" id="formFileMultiple" name="meals_image" multiple>
                        </div>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="meals_status" id="add_meals_status" value="1"
                            checked>
                        <label class="form-check-label" for="add_meals_status">
                            上線
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="meals_status" id="add_meals_status"
                            value="0">
                        <label class="form-check-label" for="add_meals_status">
                            下線
                        </label>
                    </div>
                    <div class="form-floating mb-3 mt-3">
                        <input type="text" class="form-control" id="floatingItemName" placeholder="餐點名稱"
                            name="meals_name">
                        <label for="floatingItemName">餐點名稱</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="tel" class="form-control" id="floatingItemPrices" placeholder="餐點價錢"
                            name="meals_price">
                        <label for="floatingItemPrices">餐點價錢</label>
                    </div>
                    <div class="mb-3">
                        <select class="form-select" aria-label="Default select example" name="meals_category">
                            <option selected>請選擇餐點類型</option>
                            {% for list in category_list %}
                            <option value="{{list.category_number}}">{{list.category_name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-floating mb-3">
                        <textarea class="form-control" placeholder="粉好吃..." id="floatingTextarea"
                            name="meals_description"></textarea>
                        <label for="floatingTextarea">餐點描述</label>
                    </div>
                    <div class="modal-footer mt-5">
                        <button type="submit" class="btn btn-success" data-bs-dismiss="modal">儲存</button>
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">取消</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- updateitem.Modal -->
<div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel2" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title " id="staticBackdropLabe2">餐點新增</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" action="/clt/menu/update/" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="mt-2 justify-content-center align-items-center d-flex">
                        <figure class="figure">
                            <figcaption class="figure-caption justify-content-center d-flex">餐點圖像</figcaption>
                            <img id="update_previewImage" src="" class="figure-img img-fluid rounded"
                                style="height: 80;width: 80;">
                        </figure>
                    </div>
                    <div class="mt-3 d-flex align-items-center justify-content-center">
                        <div class="mb-3">
                            <label for="update_formFileMultiple"
                                class="form-label justify-content-center d-flex">選擇圖片</label>
                            <input class="form-control" type="file" id="update_formFileMultiple" name="meals_image"
                                multiple>
                        </div>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="meals_status" id="add_meals_status" value="1"
                            checked>
                        <label class="form-check-label" for="add_meals_status">
                            上線
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="meals_status" id="add_meals_status"
                            value="0">
                        <label class="form-check-label" for="add_meals_status">
                            下線
                        </label>
                    </div>
                    <div class="form-floating mb-3 mt-3">
                        <input type="hidden" id="meals_number" name="meals_number">
                        <input type="text" class="form-control" id="floatingItemName" placeholder="餐點名稱"
                            name="meals_name">
                        <label for="floatingItemName">餐點名稱</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="tel" class="form-control" id="floatingItemPrices" placeholder="餐點價錢"
                            name="meals_price">
                        <label for="floatingItemPrices">餐點價錢</label>
                    </div>
                    <div class="mb-3">
                        <select class="form-select" aria-label="Default select example" name="meals_category">
                            <option selected>請選擇餐點類型</option>
                            {% for list in category_list %}
                            <option value="{{list.category_number}}">{{list.category_name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-floating mb-3">
                        <textarea class="form-control" placeholder="粉好吃..." id="floatingTextarea"
                            name="meals_description"></textarea>
                        <label for="floatingTextarea">餐點描述</label>
                    </div>
                    <div class="modal-footer mt-5">
                        <button type="submit" class="btn btn-success" data-bs-dismiss="modal">修改</button>
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">取消</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- addcategory.Modal -->
<div class="modal fade" id="staticBackdrop3" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel3" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title " id="staticBackdropLabel">餐點新增</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="bg-light bg-opacity-50 shadow-lg p-3 mb-5 bg-body rounded">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">編號</th>
                                <th scope="col">名稱</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for list in category_list %}
                            <tr>
                                <td>{{list.category_number}}</td>
                                <td>{{list.category_name}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <form method="post" action="/clt/menu/addcategory/">
                    {% csrf_token %}
                    <div class="form-floating mb-3 mt-3">
                        <input type="text" class="form-control" placeholder="餐點類別名稱" name="category_name">
                        <label for="floatingItemName">新稱餐點名稱</label>
                    </div>
                    <div class="modal-footer mt-5">
                        <button type="submit" class="btn btn-success" data-bs-dismiss="modal">儲存</button>
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">取消</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<style>
    #meals_previews {
        max-width: 200px;
        max-height: 200px;
    }
</style>

<!-- (新增功能)圖片上傳功能 -->
<script>
    // 獲取圖片上傳輸入元素
    const fileInput = document.getElementById('formFileMultiple');

    // 獲取圖片預覽元素
    const previewImage = document.getElementById('previewImage');

    // 監聽文件選擇事件
    fileInput.addEventListener('change', function () {
        const file = this.files[0];

        if (file) {
            // 創建 FileReader 物件
            const reader = new FileReader();

            // 監聽 FileReader 加載完成事件
            reader.onload = function (e) {
                // 將圖片預覽的 SRC 設置為所選文件的內容
                previewImage.src = e.target.result;
            };

            // 讀取文件內容
            reader.readAsDataURL(file);
        }
    });
</script>

<!-- (修改功能)圖片上傳功能 -->
<script>
    // 獲取圖片上傳輸入元素
    const update_fileInput = document.getElementById('update_formFileMultiple');

    // 獲取圖片預覽元素
    const update_previewImage = document.getElementById('update_previewImage');

    // 監聽文件選擇事件
    update_fileInput.addEventListener('change', function () {
        const file = this.files[0];

        if (file) {
            // 創建 FileReader 物件
            const reader = new FileReader();

            // 監聽 FileReader 加載完成事件
            reader.onload = function (e) {
                // 將圖片預覽的 SRC 設置為所選文件的內容
                update_previewImage.src = e.target.result;
            };

            // 讀取文件內容
            reader.readAsDataURL(file);
        }
    });
</script>

<!-- 資料匯入"修改"功能 -->
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const modifyButtons = document.querySelectorAll('.modify-button');

        modifyButtons.forEach(function (button) {
            button.addEventListener('click', function (event) {
                // 获取模态对话框表单元素
                const form = document.querySelector('#staticBackdrop2 form');

                // 获取按钮上的自定义属性
                const mealsName = event.currentTarget.getAttribute('data-meals-name');
                const mealsPrice = event.currentTarget.getAttribute('data-meals-price');
                const mealsStatus = event.currentTarget.getAttribute('data-meals-status');
                const mealsCategory = event.currentTarget.getAttribute('data-meals-category');
                const mealsDescription = event.currentTarget.getAttribute('data-meals-description');
                const mealsNumber = event.currentTarget.getAttribute('data-meals-number');
                const mealsImage = event.currentTarget.getAttribute('data-meals-image');  // 新增获取图像的属性

                // 将获取到的值设置到表单字段中
                form.querySelector('#floatingItemName').value = mealsName;
                form.querySelector('#floatingItemPrices').value = mealsPrice;

                // 设置单选按钮
                form.querySelector(`input[name="meals_status"][value="${mealsStatus}"]`).checked = true;

                // 设置下拉菜单
                form.querySelector('select[name="meals_category"]').value = mealsCategory;

                // 设置文本域
                form.querySelector('#floatingTextarea').value = mealsDescription;

                // 设置隐藏域
                form.querySelector('input[name="meals_number"]').value = mealsNumber;

                // 设置图像
                const imgElement = form.querySelector('#update_previewImage');
                imgElement.src = mealsImage;
            });
        });
    });

</script>

<!-- <script>
    var rowCounter = 1;

    function addRow() {
        // 创建一个新的表格行
        var newRow = document.createElement('div');
        newRow.className = 'row';
        rowCounter++; // 递增行数
        var rowHtml = `
        <div class="col-md-2 mt-2 justify-content-center align-items-center d-flex">
            <img src="" class="img-thumbnail" name="meals_previews${rowCounter}">
        </div>
        <div class="col-md-8 mt-2 ">
            <div class="input-group justify-content-center align-items-center d-flex md-2 mt-2">
                <span class="input-group-text col-md-2">餐點名稱</span>
                <input type="text" class="form-control" placeholder="" name="meals_name${rowCounter}" readonly>
            </div>
            <div class="input-group justify-content-center align-items-center d-flex md-2 mt-2">
                <span class="input-group-text col-md-2">餐點價格</span>
                <input type="tel" class="form-control" placeholder="" name="meals_price${rowCounter}" readonly>
            </div>
            <div class="input-group justify-content-center align-items-center d-flex md-2 mt-2">
                <label for="exampleFormControlTextarea1" class="form-label input-group-text col-md-2">餐點描述</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="meals_describe${rowCounter}"
                    readonly></textarea>
            </div>
        </div>
        <div class="col-md-2 mt-2 align-items-center justify-content-center d-flex">
            <div>
                <a class="align-items-center" href="/">
                    <img style="width: 16px;" src="{% static 'modify_icon.png' %}" title="修改">修改
                </a>
            </div>
            <div>
                <a class="align-items-center" href="/">
                    <img style="width: 16px;" src="{% static 'remove_icon.png' %}" title="刪除">刪除
                </a>
            </div>
        </div>
            `;

        newRow.innerHTML = rowHtml;

        // 将新行添加到表单内的容器中
        var container = document.getElementById('additionalRowsContainer');
        container.appendChild(newRow);

        calculateTotalAmount(); // 更新总金额
    }

</script> -->

{% endblock content %}