{% extends "client_base.html" %}
{% load static %}
{% block content %}
<div class="container mt-3">
    <div class="container-fluid bg-light bg-opacity-50 rounded shadow-lg p-3 mb-5 bg-body rounded">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-6 mt-2 justify-content-center align-items-center d-flex">
                    <figure class="figure">
                        <figcaption class="figure-caption justify-content-center d-flex">公司頭貼</figcaption>
                        <img id="previewImage" src="{% static 'media/co_headshot/'%}{{user_info.1}}" class="figure-img img-fluid rounded" alt="Preview">
                    </figure>
                </div>
                <div class="col-md-6 d-flex align-items-center justify-content-center">
                    <div class="mb-3">
                        <label for="formFileMultiple" class="form-label justify-content-center d-flex">選擇圖片</label>
                        <input class="form-control" type="file" id="formFileMultiple" name="co_image" multiple>
                    </div>
                </div>
            </div>
            <div>
                <div class="input-group mb-2 mt-2  ">
                    <span class="input-group-text col-md-2">餐廳名稱</span>
                    <input type="text" class="form-control" placeholder="" name="rest_name"
                        value="{{user_info.2}}">
                </div>
                <div class="input-group mb-2 mt-2  ">
                    <span class="input-group-text col-md-2">餐廳地址</span>
                    <input type="text" class="form-control" placeholder="" name="rest_address"
                        value="{{user_info.3}}">
                </div>
                <div class="input-group mb-2 mt-2  ">
                    <span class="input-group-text col-md-2">管理人</span>
                    <input type="text" class="form-control" placeholder="" name="rest_manager"
                        value="{{user_info.4}}">
                </div>
                <div class="input-group mb-2 mt-2  ">
                    <span class="input-group-text col-md-2">餐廳電話</span>
                    <input type="tel" class="form-control" placeholder="" name="rest_phone"
                        value="{{user_info.5}}">
                </div>

                <hr>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="co_vs_rest" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">與餐廳管理者相同</label>
                </div>
                <div class="input-group mb-2 mt-2 ">
                    <span class="input-group-text col-md-2">公司註冊名稱</span>
                    <input type="text" class="form-control" placeholder="" name="co_name"
                        value="{{user_info.6}}">
                </div>
                <div class="input-group mb-2 mt-2  ">
                    <span class="input-group-text col-md-2">公司地址</span>
                    <input type="text" class="form-control" placeholder="" name="co_address"
                        value="{{user_info.7}}">
                </div>
                <div class="input-group mb-2 mt-2  ">
                    <span class="input-group-text col-md-2">負責人</span>
                    <input type="text" class="form-control" placeholder="" name="co_owner"
                        value="{{user_info.8}}">
                </div>
                <div class="input-group mb-2 mt-2  ">
                    <span class="input-group-text col-md-2">負責人電話</span>
                    <input type="tel" class="form-control" placeholder="" name="owner_phone"
                        value="{{user_info.9}}">
                </div>
            </div>
            <div class="justify-content-center align-items-center d-flex mt-5">
                <button type="submit" class="btn btn-success text-white mx-3">儲存 / Submit</button>
                <button type="button" class="btn btn-danger text-white mx-3" onclick="location.href='/clt/'">
                    取消 / Cancel</button>
            </div>
        </form>
    </div>
</div>

<script>
    // 獲取圖片上傳輸入元素
    const fileInput = document.getElementById('formFileMultiple');

    // 獲取圖片預覽元素
    const previewImage = document.getElementById('previewImage');

    // 監聽文件選擇事件
    fileInput.addEventListener('change', function () {
        const file = this.files[0];

        if (file) {
            // 創建 FileReader 物件
            const reader = new FileReader();

            // 監聽 FileReader 加載完成事件
            reader.onload = function (e) {
                // 將圖片預覽的 SRC 設置為所選文件的內容
                previewImage.src = e.target.result;
            };

            // 讀取文件內容
            reader.readAsDataURL(file);
        }
    });
</script>
<script>
    // 获取复选框元素
    const checkbox = document.getElementById('flexCheckDefault');

    // 抓取公司欄位及餐廳欄位
    const restNameInput = document.querySelector('input[name="rest_name"]');
    const restAddressInput = document.querySelector('input[name="rest_address"]');
    const restManagerInput = document.querySelector('input[name="rest_manager"]');
    const restPhoneInput = document.querySelector('input[name="rest_phone"]');
    const coNameInput = document.querySelector('input[name="co_name"]');
    const coAddressInput = document.querySelector('input[name="co_address"]');
    const coOwnerInput = document.querySelector('input[name="co_owner"]');
    const ownerPhoneInput = document.querySelector('input[name="owner_phone"]');

    // 監聽欄位變化
    checkbox.addEventListener('change', function () {
        if (this.checked) {
            // Checkbox被選取時，公司框內數值讚更成餐廳數值
            coNameInput.value = restNameInput.value;
            coAddressInput.value = restAddressInput.value;
            coOwnerInput.value = restManagerInput.value;
            ownerPhoneInput.value = restPhoneInput.value;
        }
        else {
            // Checkbox被取消時，欄位即被清空
            coNameInput.value = '';
            coAddressInput.value = '';
            coOwnerInput.value = '';
            ownerPhoneInput.value = '';
        }
    });
</script>

{% endblock content %}