{% extends "client_base.html" %}
{% load static %}
{% block content %}
<div class="container mt-3">
    <div class="container-fluid bg-light bg-opacity-50 rounded shadow-lg p-3 mb-5 bg-body rounded">
        <div class="row " style="height: 400px;">
            <div class="col-md-6 mt-2 justify-content-center align-items-center d-flex">
                <figure class="figure">
                    <figcaption class="figure-caption justify-content-center d-flex">公司頭貼</figcaption>
                    <img id="previewImage" src="" class="figure-img img-fluid rounded" alt="Preview"
                        style="height: 350px;">
                </figure>
            </div>
            <div class="col-md-6 d-flex align-items-center justify-content-center">
                <div class="mb-3">
                    <label for="formFileMultiple" class="form-label justify-content-center d-flex">選擇圖片</label>
                    <input class="form-control" type="file" id="formFileMultiple" multiple>
                </div>
            </div>
        </div>


    </div>
</div>

<script>
    // 獲取圖片上傳輸入元素
    const fileInput = document.getElementById('formFileMultiple');

    // 獲取圖片預覽元素
    const previewImage = document.getElementById('previewImage');

    // 監聽文件選擇事件
    fileInput.addEventListener('change', function () {
        const file = this.files[0];

        if (file) {
            // 創建 FileReader 物件
            const reader = new FileReader();

            // 監聽 FileReader 加載完成事件
            reader.onload = function (e) {
                // 將圖片預覽的 SRC 設置為所選文件的內容
                previewImage.src = e.target.result;
            };

            // 讀取文件內容
            reader.readAsDataURL(file);
        }
    });
</script>


{% endblock content %}